{% extends 'base.html' %}

{% block content %}

      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-2">
            {% if movie['poster_path'] %}
                <img src="{{ 'https://image.tmdb.org/t/p/original' + movie['poster_path'] }}" class="card-img-top movie align-self-center" alt="{{ movie['title'] }}">
            {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ movie['title'] }}</h5>
              <p class="card-text">{{ movie['overview'] }}</p>
              <p class="card-text"><small class="text-muted">{{ movie['release_date'][:4] }}</small></p>
              <a href="{{ 'https://www.imdb.com/title/' + movie['imdb_id'] }}" class="card-link" target="_blank">IMDB</a>
              <div>
                {% if movie['id'] not in current_user.watchlist and movie['id'] not in user_ratings %}
                  <form action="{{ url_for('add_to_watchlist', movie_id=movie['id']) }}" method="POST">
                    <button type="submit" class="btn btn-primary">Add To Watchlist</button>
                  </form>
                {% elif movie['id'] not in user_ratings %}
                  <form action="{{ url_for('remove_from_watchlist', movie_id=movie['id']) }}" method="POST">
                    <button type="submit" class="btn btn-danger">Remove From Watchlist</button>
                  </form>
                {% endif %}

                <form action="{{ url_for('add_to_my_ratings', movie_id=movie['id']) }}" method="POST">
                  {{ form.hidden_tag() }}
                  <div class="form-group">
                    <fieldset>
                      {{ form.rating.label }}
                      {{ form.rating(class="form-control", placeholder="1-100")}}
                    </fieldset>
                    {{ form.submit(class="btn btn-info") }}
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}