{% extends 'base.html' %}

{% block content %}
<div class="row">
    {% for movie in my_ratings %}
      {% if movie['poster_path'] %}
      <div class="col-6 col-md-6 col-lg-4">
          <div class="card mt-3">
              
              <img src="{{ 'https://image.tmdb.org/t/p/original' + movie['poster_path'] }}" class="card-img-top movie-search" alt="...">
              
              
              <div class="card-body vw-10">
                <h5 class="card-title">{{ movie['title'] }}</h5>
                <p class="card-text">{{ movie['release_date'][:4] }}</p>
                <p class="card-text">Rating: {{ movie['rating'] }}</p>
                <a href="{{ url_for('movie_detail', id=movie['id'])}}" class="btn btn-primary">Read More</a>
                {% if current_user == user %}
                  <form action="{{ url_for('ratings.remove_from_my_ratings', movie_id=movie['id']) }}" method="POST">
                    <button type="submit" class="btn btn-danger">Remove From Ratings</button>
                  </form>
                {% endif %}
              </div>
            </div>
      </div>
      {% endif %}
    {% endfor %}
</div>
{% endblock content %}